In [1]:
import kaggle
import pandas as pd
from sqlalchemy import create_engine

In [2]:
kaggle.api.authenticate()

kaggle.api.dataset_download_files('mohammadtalib786/retail-sales-dataset', path='.', unzip=True)

kaggle.api.dataset_metadata('mohammadtalib786/retail-sales-dataset', path='.')

Dataset URL: https://www.kaggle.com/datasets/mohammadtalib786/retail-sales-dataset

'.\\dataset-metadata.json'

In [3]:
df = pd.read_csv('retail_sales_dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [4]:
df.duplicated().sum()

0

In [6]:
df.isnull().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [11]:
for kolom in df.columns:
  print(df[kolom].value_counts(), "\n")

Transaction ID
1       1
672     1
659     1
660     1
661     1
       ..
339     1
340     1
341     1
342     1
1000    1
Name: count, Length: 1000, dtype: int64

Date
2023-05-16    11
2023-07-14    10
2023-05-23     9
2023-08-05     8
2023-02-05     8
              ..
2023-09-10     1
2023-02-16     1
2023-03-31     1
2023-01-25     1
2023-05-28     1
Name: count, Length: 345, dtype: int64

Customer ID
CUST001     1
CUST672     1
CUST659     1
CUST660     1
CUST661     1
           ..
CUST339     1
CUST340     1
CUST341     1
CUST342     1
CUST1000    1
Name: count, Length: 1000, dtype: int64

Gender
Female    510
Male      490
Name: count, dtype: int64

Age
43    31
64    31
57    30
51    30
34    28
54    28
22    27
62    27
42    26
47    26
46    25
23    24
40    24
50    23
27    23
52    22
60    22
30    22
26    22
31    22
35    22
28    21
41    21
18    21
55    21
20    21
19    21
21    20
25    20
49    19
56    19
32    19
38    19
61    18
39    18
48    18
63    17
45    17
59    17
53    17
29    16
37    16
36    15
44    15
24    15
58    14
33    10
Name: count, dtype: int64

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

Quantity
4    263
1    253
2    243
3    241
Name: count, dtype: int64

Price per Unit
50     211
25     210
500    199
300    197
30     183
Name: count, dtype: int64

Total Amount
50      115
100     108
900      62
200      62
1200     54
30       51
500      51
25       51
1500     50
1000     49
2000     49
300      46
60       45
90       44
120      43
75       43
150      42
600      35
Name: count, dtype: int64

In [14]:
user = 'postgres'
password = 'root'
host = 'localhost'
port = '5432'
dbName = 'Retail-Sales'
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{dbName}')
df.to_sql(name='Sales', con=engine)

1000